<div class="trainer">
    <ul class="list">
        <li class="pokemon">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="">
            <button (click)="onRemoveClicked(0)">X</button>
            <p class="name">Pokémon Name</p>
        </li>
        <li class="pokemon">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="">
            <button (click)="onRemoveClicked(0)">X</button>
            <p class="name">Pokémon Name</p>
        </li>
        <li class="pokemon">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="">
            <button (click)="onRemoveClicked(0)">X</button>
            <p class="name">Pokémon Name</p>
        </li>
        <li class="pokemon">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="">
            <button (click)="onRemoveClicked(0)">X</button>
            <p class="name">Pokémon Name</p>
        </li>
    </ul>
</div>