<div class="trainer">
    <div class="pokemon-trainer">
        <h1> {{"Pokemon Trainer " + username}} </h1>
        <img src="https://api.multiavatar.com/Starcrasher.png">
    </div>
    <ul class="list">
        <li class="pokemon" *ngFor='let pokemon of collection; let i = index;'>
            <p class="name">{{ pokemon.name }}</p>
            <img [src]='"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/" + pokemon.id + ".png"' />
            <button (click)="onRemoveClicked(i)">❌</button>
        </li>
    </ul>
</div>