nav {
  margin: 2em;
  ul {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    border-radius: 5px;
    background-color: #c24747;

    a {
      text-decoration: none;
      color: white;
      img {
        height: 2em;
      }
    }

    @media (max-width: 768px) {
      width: 100%;
      display: block;
      margin-top: 1rem;
    }
    @media (max-width: 768px) {
      display: block;
    }
  }
}
