.catalogue {
  $card-size: 10rem;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .catalogue-header {
    padding: 5%;
    border-radius: 1rem;
    color: #4feb4f;
    background-color: #bc8f8f;
    margin-bottom: 1rem;
  }
  .list {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;

    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, $card-size);

    gap: 0.5rem;
    .pokemon {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;

      width: 100%;
      list-style: none;
      background-color: #bc8f8f;
      border-radius: 1rem;

      img {
        z-index: 1;
        width: 100%;
        aspect-ratio: 1;
        padding-block-end: 2rem;
      }

      button {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;

        font-weight: bolder;
        border: none;
        border-radius: 50%;
        color: #fff;
        background-color: rgb(70, 70, 196);
        cursor: pointer;
        transition: 0.5s;

        width: 1.75rem;
        aspect-ratio: 1;

        z-index: 2;
        &.caught {
          background-color: rgba($color: #4feb4f, $alpha: 1);
        }
        &:hover {
          transform: scale(1.2);
          box-shadow: 2px 2px 6px rgba($color: #000, $alpha: 0.2);
        }

        &:active {
          transform: scale(0.9);
          box-shadow: none;
        }
      }

      .name {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
        text-transform: capitalize;
        justify-content: center;
        z-index: 3;
      }
    }
  }
}
